<template>
    <v-flex xs12 id="site-header">
        <v-layout align-center justify-space-between>
            <v-flex xs4>
                <router-link class="logo" to="/">
                    <img height="32px" src="/images/logo.svg" alt="">
                </router-link>
            </v-flex>
            <v-flex shrink>
                <template v-if="currentUser">
                    <v-btn
                        fab
                        dark
                        :flat="true"
                    ><v-icon>fas fa-bell</v-icon></v-btn>
                    <v-btn
                        fab
                        dark
                        :flat="true"
                    ><v-icon>fas fa-envelope</v-icon></v-btn>
                    <v-btn
                        dark
                        color="primary"
                        to="/event/new"
                    >
                        <v-icon style="margin-right: 16px">fas fa-plus</v-icon>
                        Создать мероприятие
                    </v-btn>
                    <v-btn
                        fab
                        dark
                        :flat="true"
                        @click.prevent="logout()"
                    ><v-icon>fas fa-sign-out-alt</v-icon></v-btn>
                </template>
                <template v-else>
                    <v-btn
                        dark
                        color="primary"
                        @click="getModalForm($event, formData.signin)"
                    >
                        Вход
                    </v-btn>
                    <v-btn
                        dark
                        color="primary"
                        @click="getModalForm($event, formData.signup)"
                    >
                        Регистрация
                    </v-btn>
                </template>
            </v-flex>
        </v-layout>
    </v-flex>
</template>
<script>
    export default {
        data() {
            return {
                formData: {
                    signin: {
                        component: 'Signin',
                        title: 'Вход',
                        formData: {},
                        dialog: true
                    },
                    signup: {
                        component: 'Signup',
                        title: 'Регистрация',
                        formData: {},
                        dialog: true,
                    }
                },
            }
        },
        methods: {
            getModalForm (event, form) {
                this.$emit('clicked', form)
            },
            logout() {
                this.$store.commit('logout')
                this.$router.push('/')
            }
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser
            }
        }
    }
</script>
<style lang="scss" scoped>
    #site-header {
        padding-left: 16px;
        padding-right: 16px;
        position: fixed;
        width: 100%;
        background: #222;
        color: white;

        .logo {
            margin: 18px 0;
            vertical-align: top;
            display: inline-block;
            line-height: 0;
        }
    }
</style>
