.header-space {
    padding-top: 64px;
}

.scrollable-content {
    overflow-y: auto;
    overflow-x: hidden;
}

.no-padding {
    padding: 0;
}

.filter-container {
    padding-left: 16px;
    padding-right: 16px;
    background: #f2f2f2;
    flex: 0 0 64px;
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}
