<template>
    <v-app>
        <v-container fluid fill-height class="screen">
            <v-layout row wrap>
                <SiteHeader @clicked="getModalForm"/>
                <router-view></router-view>
            </v-layout>
            <v-dialog
                max-width="400px"
                v-model="modalForm.dialog"
                persistent>
                <component :modalForm="modalForm" :is="modalForm.component"></component>
            </v-dialog>
        </v-container>
    </v-app>
</template>
<script>
    import SiteHeader from './layout/SiteHeader'
    import Signin from './Signin'
    import Signup from './Signup'
    import moment from 'moment'

    export default {
        components: {
            SiteHeader,
            Signin,
            Signup
        },
        data() {
            return {
                modalForm: {
                    component: null,
                    dialog: false
                },
                error: null,
            }
        },
        computed: {
            eventsFilter: function() {
                return this.$store.getters.eventsFilter
            }
        },
        mounted() {
            this.getFilterDate()
        },
        methods: {
            getModalForm: function(form) {
                this.modalForm = form
            },

            getFilterDate: function () {
                this.$store.dispatch('eventsFilter')

                this.eventsFilter.date_start = {
                    start: moment().format('YYYY-MM-DD'),
                    end: moment().add(1, 'M').format('YYYY-MM-DD')
                }

                this.$store.commit('eventsFilterSuccess', this.eventsFilter)
            }
        }
    }
</script>
<style lang="scss" scoped>
    .screen {
        padding: 0;
        height: 100vh;
        overflow: hidden;
    }
</style>
