<template>
    <v-flex xs12 class="full-height">
        <v-layout class="full-height space-top">
            <router-view></router-view>
            <v-flex class="full-height" xs6>
                <filter-map></filter-map>
            </v-flex>
        </v-layout>
    </v-flex>
</template>
<script>
    import FilterMap from './event/FilterMap'

    export default {
        components: {
            FilterMap
        }
    }
</script>
<style lang="scss" scoped>
    .full-height {
        height: 100%;
    }

    .space-top {
        padding-top: 68px;
    }

    .filter-spacer {
        margin-top: 68px;
        height: calc(100% - 68px)
    }

    .pos-relative {
        position: relative;
    }

    .wrap-padding {
        padding-left: 16px;
        padding-right: 16px;
    }

    .event-group {
        margin-top: 16px;

        h2 {
            margin-bottom: 8px;
            padding: 0 16px;
        }
    }
</style>
