<template>
    <div>
        <v-card>
            <v-card-title>
                <span class="headline">Регистрация</span>
            </v-card-title>
            <v-card-text>
                <v-container grid-list-md>
                    <v-form @submit.prevent="register()" style="width: 100%" v-model="valid">
                        <v-layout wrap>
                            <v-flex xs12 sm6 md6>
                                <v-text-field
                                    v-model="localFormData.last_name"
                                    label="Фамилия*"
                                    required
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field
                                    v-model="localFormData.first_name"
                                    label="Имя*"
                                    required
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field
                                    v-model="localFormData.email"
                                    label="Email*"
                                    required
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field
                                    v-model="localFormData.phone"
                                    label="Телефон*"
                                    required
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field
                                    v-model="localFormData.password"
                                    label="Пароль*"
                                    type="password"
                                    required
                                ></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-form>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click="modalForm.dialog = false">Закрыть</v-btn>
                <v-btn type="submit" color="blue darken-1" flat>Регистрация</v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>
<script>
    import { login } from "../helpers/auth"
    export default {
        props: {
            modalForm: Object,
            valid: false
        },
        data() {
            return {
                localFormData: this.modalForm.formData
            }
        },
        methods: {
            async register() {
                try {
                    const user = axios.post('/api/auth/register', this.localFormData)
                    if(user) {
                        this.$store.dispatch('login')

                        var localSignIn = {
                            email: this.localFormData.email,
                            password: this.localFormData.password
                        }

                        login(this.localSignIn)
                            .then((response) => {
                                this.$store.commit('loginSuccess', response)
                                this.modalForm.dialog = false
                            })
                            .catch((error) => {
                                this.$store.commit('loginFailed', {error})
                                console.log(this.authError)
                            })
                    }

                } catch(error) {

                }
            }
        }
    }
</script>
<style></style>
