<template>
    <v-card>
        <v-card-title>
            <span class="headline">Вход</span>
        </v-card-title>
        <v-card-text>
            <v-layout wrap>
                <v-flex xs12 class="error" v-if="authError">
                    {{ authError }}
                </v-flex>
                <v-flex xs12>
                    <v-text-field v-model="localFormData.email" label="Email*" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field v-model="localFormData.password" label="Password*" type="password" required></v-text-field>
                </v-flex>
            </v-layout>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="modalForm.dialog = false">Закрыть</v-btn>
            <v-btn color="blue darken-1" flat @click="authenticate()">Войти</v-btn>
        </v-card-actions>
    </v-card> 
</template>
<script>
    import { login } from "../helpers/auth"
    export default {
        props: {
            modalForm: Object
        },
        data() {
            return {
                localFormData: this.modalForm.formData
            }
        },
        computed: {
            authError: function () {
                return this.$store.getters.authError
            }
        },
        methods: {
            authenticate: function() {
                this.$store.dispatch('login')

                login(this.localFormData)
                    .then((response) => {
                        this.$store.commit('loginSuccess', response)
                        this.modalForm.dialog = false
                    })
                    .catch((error) => {
                        this.$store.commit('loginFailed', {error})
                        console.log(this.authError)
                    })
            },
        }
    }
</script>
<style></style>
