<template>
    <v-flex xs6 class="event-box">
        <v-card class="event">
            <v-img height="168px" :alt="localEvent.title" :src="localEvent.thumbnail"/>
            <div class="supheader">
                <template v-if="localEvent.status">
                    <v-btn
                        small
                        depressed
                        color="primary"
                        class="event-time"
                    >
                        {{ event_time }}
                    </v-btn>
                    <span class="event-people">
                        {{ formatted_subs }} подписчиков
                    </span>
                </template>
                <template v-else>
                    <v-btn
                        small
                        depressed
                        color="error"
                        class="event-time"
                    >
                        Закончено
                    </v-btn>
                    <span class="event-people">
                        {{ formatted_reviews }} отзывов
                    </span>
                </template>
            </div>
            <v-card-title class="event-body" primary-title>
                <h3><router-link :to="`/event/${localEvent.slug}` ">{{ localEvent.title }}</router-link></h3>
                <p>
                    {{ localEvent.description }}
                </p>
                <div class="organisator">
                    <strong>Организатор:</strong> <router-link :to="'/user/' + localEvent.organisator.id">{{ full_name }}</router-link>
                </div>
                <div class="event-meta">
                    <span class="price">{{ formatted_price }}</span>
                    <span class="address">{{ formatted_addr }}</span>
                </div>
                <ul class="interests" v-if="localEvent.interests.length != 0">
                    <li v-for="interest in localEvent.interests" v-bind:key="interest.id">
                        <a href="#">{{ interest.label }}</a>
                    </li>
                </ul>
            </v-card-title>
        </v-card>
    </v-flex>
</template>
<script>
    import moment from 'moment'

    export default {
        props: {
            event: Object
        },
        data: function() {
            return {
                localEvent: this.event,
                address: "Данные не получены"
            }
        },
        computed: {
            formatted_reviews: function(){
                if(this.localEvent.reviews_count > 1000) {
                    return "999+"
                } else {
                    return this.localEvent.reviews_count
                }
            },
            formatted_subs: function(){
                if(this.localEvent.subscribers > 1000) {
                    return "999+"
                } else {
                    return this.localEvent.subscribers
                }
            },
            full_name: function() {
                return this.localEvent.organisator.last_name + " " + this.localEvent.organisator.first_name
            },
            event_time: function() {
                return moment(this.localEvent.date_start).format('D.MM HH:mm') + " – " + moment(this.localEvent.date_end).format('D.MM HH:mm')
            },
            formatted_price: function () {
                return "₽" + this.localEvent.price
            },
            formatted_addr: function() {
                return this.address
            }
        },
        methods: {
            setAddress() {
                this.$geocoder.send({
                    lat: this.localEvent.latitude,
                    lng: this.localEvent.longitude
                }, response => {
                    if(response.status = "OK") {
                        this.address = response.results[0].formatted_address
                    }

                    return this.address
                })
            }
        },
        mounted() {
            this.setAddress()
        }
    }
</script>
<style scoped lang="scss">
    .event-box {
        padding: 0 16px 32px 16px;
    }
    
    .event {
        .supheader {
            background: #ededed;
            padding: 8px 24px;
        }

        .event-body {
            padding-top: 16px;
        }

        .event-time {
            margin: 0 8px 0 0;
            cursor: default;
        }

        .event-people {
            color: #939393;
            font-size: 0.875em;
            line-height: 24px;
        }

        h3 {
            a {
                font-size: 1.25em;
                color: #000;
                text-decoration: none;

                &:hover {
                    color: #444;
                }
            }
        }
        p {
            color: #888;
            margin-bottom: 0;
        }
        .organisator {
            width: 100%;
            margin: 8px 0;
        }

        .event-meta {
            width: 100%;
            font-size: 1.5em;
            display: flex;
            justify-content: space-between;
            
            .price {
                color: #FC3B3B;
                font-weight: bold;
                margin-right: 24px;
            }

            .address {
                font-size: 0.75em;
            }
        }

        .interests {
            padding: 0;
            margin-top: 16px;
            width: 100%;

            li {
                display: inline-block;

                a {
                    margin: 2px 2px;
                    display: inline-block;
                    text-decoration: none;
                    color: white;
                    padding: 0 8px;
                    line-height: 24px;
                    border-radius: 4px;
                    font-size: 0.875em;
                    background: #ADADAD;

                    &:hover {
                        background: #6A6A6A;
                    }
                }
            }
        }
    }
</style>
