<template>
    <GmapMap
        ref="gmap"
        :zoom="7"
        map-type-id="terrain"
        :center="mapCenter || {lat: 0, lng: 0}"
        style="width: 100%; height: 100%"
    >
        <template v-if="routeName == 'event.new'">
            <GmapMarker
                :position="{lat: 0, lng: 0}"
                :draggable="true"
            />
        </template>
        <template v-else>
            <GmapMarker
                :key="'marker-' + marker.id"
                v-for="marker in markers"
                :position="{lat: marker.latitude, lng: marker.longitude}"
                @click="center = {lat: marker.latitude, lng: marker.longitude}"
            />
        </template>
    </GmapMap>
</template>
<script>
    export default {
        data() {
            return {
                mapData: {},
                routeName: null,
                eventPlace: null
            }
        },
        methods: {
            setMapData: function () {
                if(navigator.geolocation){
                    navigator.geolocation.getCurrentPosition(position => {
                        this.mapData.center = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        }
                        this.$store.dispatch('setMapData')
                        this.$store.commit('setMapDataSuccess', this.mapData)
                    })
                }
            },
            setEventPlace: function () {
                console.log(this.eventPlace)
            }
        },
        computed: {
            mapCenter() {
                return this.$store.getters.mapData.center
            },
            filters: function() {
                return this.$store.getters.eventsFilter
            },
            markers: function () {
                return this.$store.getters.markers
            }
        },
        created () {
            this.setMapData()
            this.getData = _.debounce(function(){
                this.$store.dispatch('eventsFilter')
                this.$store.dispatch('markers')
                this.$store.dispatch('events')
            }, 500)

            var vm = this
        },
        mounted() {
            this.routeName = this.$route.name
            var vm = this
            this.$refs.gmap.$mapPromise.then((map) => {
                google.maps.event.addListener(map, 'bounds_changed', function() {
                    vm.filters.latitude = [
                        map.getBounds().getSouthWest().lat(), map.getBounds().getNorthEast().lat()
                    ]
                    vm.filters.longitude = [
                        map.getBounds().getSouthWest().lng(), map.getBounds().getNorthEast().lng()
                    ]

                    vm.getData()
                });
            })
        }
    }
</script>
<style>

</style>
