<template>
    <v-flex xs12 class="filter-container">
        <v-layout justify-space-between>
            <v-flex xs8>
                <v-select
                    v-model="eventsFilter.filter"
                    :items="filters"
                    item-text="label"
                    item-value="value"
                ></v-select>
            </v-flex>
            <v-flex shrink>
                <v-menu
                    attach
                    max-width="300px"
                    :left="true"
                    :close-on-content-click="false">
                    <template #activator="{ on: menu }">
                        <v-btn
                            fab
                            :flat="true"
                            v-on="{ ...menu }"
                        ><v-icon>fas fa-filter</v-icon></v-btn>
                    </template>
                    <v-list style="overflow-y: hidden">
                        <v-list-tile style="height: auto">
                            <v-select
                                label="Интересы"
                                v-model="eventsFilter.interests"
                                :items="interests"
                                item-text="label"
                                item-value="id"
                                small-chips
                                multiple
                            ></v-select>
                        </v-list-tile>
                        <v-list-tile style="height: auto">
                            <v-range-slider
                                label="Цена"
                                v-model="eventsFilter.price"
                                :max="3000"
                                :min="0"
                                :step="10"
                            ></v-range-slider>
                        </v-list-tile>
                        <v-list-tile style="height: auto">
                            <v-daterange v-model="eventsFilter.date_start">
<!--                                <v-spacer></v-spacer>-->
<!--                                <v-btn flat color="primary" @click="date_filter = false">Cancel</v-btn>-->
<!--                                <v-btn flat color="primary" @click="$refs.date_filter.save(eventsFilter.date_start)">OK</v-btn>-->
                            </v-daterange>
                        </v-list-tile>
                    </v-list>
                </v-menu>
            </v-flex>
        </v-layout>
    </v-flex>
</template>
<script>
    import Selectize from 'vue2-selectize'
    
    export default {
        data() {
            return {
                localFilters: [],
                interests: []
            }
        },
        components: {
            Selectize
        },
        watch: {
            eventsFilter: function () {
                this.getData()
            }
        },
        methods: {
            getInterests: async function() {
                try {
                    const interests = await axios.get('/api/interests')
                    this.interests = interests.data.data
                } catch(error) {
                    console.log(error)
                }
            }
        },
        created() {
            this.getInterests()
            this.eventsFilter.filter = this.filters[1]
            this.getData = _.debounce(function(){
                this.$store.dispatch('eventsFilter')
                this.$store.dispatch('markers')
                this.$store.dispatch('events')
            }, 500)
        },
        computed: {
            filters() {
                this.localFilters = [
                    {
                        value: "popular",
                        label: "Популярные мероприятия"
                    },
                    {
                        value: "upcoming",
                        label: "Ближайшие мероприятия"
                    },
                ]
                if(this.currentUser) {
                    this.localFilters.push(
                        {
                            value: "subscriptions",
                            label: "Мои подписки"
                        },
                        {
                            value: "my-event",
                            label: "Мои мероприятия"
                        }
                    )

                    return this.localFilters
                } else {
                    return this.localFilters
                }
            },
            eventsFilter() {
                return this.$store.getters.eventsFilter
            },
            currentUser() {
                return this.$store.getters.currentUser
            }
        }
    }
</script>
<style>
    .filter-container {
        position: absolute;
        width: 100%;
    }
</style>
