<template>
    <v-flex xs6 class="full-height pos-relative">
        <v-container style="height: 100%" class="scrollable-content">
            <h1>Создание мероприятия</h1>
            <v-form @submit.prevent="storeEvent()">
                <v-text-field
                    v-model="event.title"
                    label="Название мероприятия"
                ></v-text-field>
                <v-text-field
                    v-model="event.slug"
                    label="Ссылка мероприятия"
                ></v-text-field>
                <v-daterange
                    separator-label="–"
                    start-label="Начало мероприятия"
                    end-label="Конец мероприятия"
                    v-model="date">
                </v-daterange>
                <v-text-field
                    v-model="event.latitude"
                    append-outer-icon="fa fa-map-marker-alt"
                    label="Место проведения"
                ></v-text-field>
                <v-text-field
                    v-model="event.price"
                    label="Цена"
                ></v-text-field>
                <v-select
                    label="Интересы мероприятия"
                    v-model="event.interests"
                    :items="interests"
                    item-text="label"
                    item-value="id"
                    small-chips
                    multiple
                ></v-select>
                <v-textarea
                    v-model="event.description"
                    name="input-7-1"
                    label="Описание мероприятия"
                ></v-textarea>
                <v-btn type="reset">Очистить</v-btn>
                <v-btn type="submit" dark>Создать мероприятие</v-btn>
            </v-form>
        </v-container>
    </v-flex>
</template>
<script>
    export default {
        data() {
            return {
                date: {
                    start: null,
                    end: null
                },
                place: {
                    name: null,
                    latitude: null,
                    longitude: null
                },
                interests: [],
                event: {
                    id: null,
                    thumbnail: null,
                    slug: null,
                    title: null,
                    description: null,
                    date_start: null,
                    date_end: null,
                    latitude: null,
                    longitude: null,
                    price: null,
                    interests: [],
                    organisator_id: null
                }
            }
        },
        methods: {
            setComputed: function() {
                this.event.organisator_id = this.currentUser.id
                this.event.date_start = this.dateStart
                this.event.date_end = this.dateEnd
            },
            storeEvent: function() {
                this.event.date_start = this.date.start
                this.event.date_end = this.date.end
                console.log(this.event)
            },
            getInterests: async function() {
                try {
                    const interests = await axios.get('/api/interests')
                    this.interests = interests.data.data
                } catch(error) {
                    console.log(error)
                }
            }
        },
        computed: {
            currentUser: function () {
                return this.$store.getters.currentUser
            }
        },
        created() {
            this.getInterests()
        },
        mounted() {
            this.setComputed()
        }
    }
</script>
<style lang="scss">
    .v-date-range {
        .v-menu {
            width: 100%;

            .v-text-field__slot {
                input {
                    text-align: left
                }
            }
        }
    }
    .full-height {
        height: 100%;
    }

    .space-top {
        padding-top: 68px;
    }

    .filter-spacer {
        margin-top: 68px;
        height: calc(100% - 68px)
    }

    .pos-relative {
        position: relative;
    }

    .wrap-padding {
        padding-left: 16px;
        padding-right: 16px;
    }

    .event-group {
        margin-top: 16px;

        h2 {
            margin-bottom: 8px;
            padding: 0 16px;
        }
    }
</style>
