<template>
    <v-flex xs6 class="full-height pos-relative">
        <EventsFilter></EventsFilter>
        <div class="scrollable-content filter-spacer">
            <template v-if="events">
                <div class="event-group" v-for="(events_group, date) in events">
                    <h2>{{ date | formatDate }}</h2>
                    <v-layout wrap>
                        <event v-for="event in events_group" v-bind:key="event.id" v-bind:event="event"></event>
                    </v-layout>
                </div>
            </template>
            <template v-else>
                <v-container>
                    Ничего не найдено
                </v-container>
            </template>
        </div>
    </v-flex>
</template>
<script>
    import Event from './Event'
    import EventsFilter from './Filter'

    export default {
        components: {
            EventsFilter,
            Event,
        },
        data: function() {
            return {
                filter: 'upcoming'
            }
        },
        watch: {
            eventsFilter: function(newF, oldF) {
                console.log(newF)
            }
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser
            },
            events() {
                return this.$store.getters.events
            },
            eventsFilter() {
                return this.$store.getters.eventsFilter
            }
        }
    }
</script>
<style lang="scss" scoped>
    .full-height {
        height: 100%;
    }

    .space-top {
        padding-top: 68px;
    }

    .filter-spacer {
        margin-top: 68px;
        height: calc(100% - 68px)
    }

    .pos-relative {
        position: relative;
    }

    .wrap-padding {
        padding-left: 16px;
        padding-right: 16px;
    }

    .event-group {
        margin-top: 16px;

        h2 {
            margin-bottom: 8px;
            padding: 0 16px;
        }
    }
</style>
