<template>
    <div>
        <aside>

        </aside>
        <div>
            <template v-if="review.like">
                Положительный отзыв
            </template>
            <template v-else>
                Отрицательный отзыв
            </template>
            <br>
            {{ review.text }}
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            review: Object
        }
    }
</script>
<style>

</style>
