<template>
    <v-flex xs6 class="full-height pos-relative">
        <div class="scrollable-content">
            <img width="100%" :src="event.thumbnail" :alt="event.title">
            <div class="event-header">
                <div class="event-meta">
                    <template v-if="event.status">
                        {{ event.status }}
                    </template>
                    <template v-else>
                        <span>Мероприятие закончено</span>
                    </template>
                </div>
                <h1>{{ event.title }}</h1>
            </div>
            <div class="event-subhead">

            </div>
            <div class="event-desc">
                <h3>Описание:</h3>
                <p>{{ event.description }}</p>
            </div>
            <div class="event-footer">

            </div>
            <template v-if="event.status == true">
                {{ event.status }}
            </template>
            <template v-else>
                <div class="reviews">
                    <review v-for="review in event.reviews" :key="'event-' + event.id" :review="review"></review>
                </div>
            </template>
        </div>
    </v-flex>
</template>
<script>
    import Review from './Review'

    export default {
        data() {
            return {
                event: {}
            }
        },
        components: {
            Review
        },
        methods: {
            async getEvent() {
                try {
                    var eventSlug = this.$route.params.slug
                    const response = await axios.get('/api/events/' + eventSlug)
                    this.event = response.data.data
                    console.log(this.event)
                } catch(error) {
                    console.log(error)
                }
            }
        },
        created() {
            this.getEvent()
        },
        mounted() {
            console.log(this.event)
        }
    }
</script>
<style lang="scss" scoped>
    .full-height {
        height: 100%;
    }

    .space-top {
        padding-top: 68px;
    }

    .filter-spacer {
        margin-top: 68px;
        height: calc(100% - 68px)
    }

    .pos-relative {
        position: relative;
    }

    .wrap-padding {
        padding-left: 16px;
        padding-right: 16px;
    }

    .event-group {
        margin-top: 16px;

        h2 {
            margin-bottom: 8px;
            padding: 0 16px;
        }
    }
</style>
